# Supabase keys
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-url.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# Clerk keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your_clerk_publishable_key_here"
CLERK_SECRET_KEY="your_clerk_secret_key_here"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/my-library"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL="/onboarding"

# LiveKit keys
NEXT_PUBLIC_LIVEKIT_URL="livekit_server_url_here"
LIVEKIT_API_KEY="livekit_api_key_here"
LIVEKIT_API_SECRET="livekit_api_secret_here"

# Bunny Storage Configuration
BUNNY_STORAGE_API_KEY ="key_for_cdn_token_here"
BUNNY_STORAGE_PULL_ZONE_URL="pull_zone_url_here"

# Langfuse keys
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_HOST="https://cloud.langfuse.com"

# Environment
NODE_ENV="development" # "development" or "production"
