# Supabase keys
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-url.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# AI models keys
OPENAI_API_KEY="your_openai_api_key_here"
ELEVENLABS_API_KEY="YOUR_ELEVENLABS_API_KEY"

# Clerk keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your_clerk_publishable_key_here"
CLERK_SECRET_KEY="your_clerk_secret_key_here"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/"

# LiveKit keys
NEXT_PUBLIC_LIVEKIT_URL="livekit_server_url_here"
LIVEKIT_API_KEY="livekit_api_key_here"
LIVEKIT_API_SECRET="livekit_api_secret_here"